.subclub {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    overflow: hidden;
}

.subclub-container {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    overflow: auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

.subclub-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
    overflow-x: auto;
    margin: 5px;

}

.subclub-item img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: pink;
    margin: 10px;
}

.subclub-item p {
    width: 100%;    
}

.subclub-text {
    width: 80vw;
}

