:root {
  --nav-bar-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --headers-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --sub-header-font: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --about-text-font: 'Lato', sans-serif;
  --date-font: 'Courier New', Courier, monospace;
  --nav-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --default-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0px;
  background-color: black;
}

/*
 * disable horizontal scrolling
 * 
 */
html, body {
  max-width: 100%;
  overflow-x: hidden; 
  overflow-y: auto;
  caret-color: transparent;
  font-family: var(--default-font);
}

