.accordion {
  padding: 0px;
  margin: 10px auto;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 1px solid red; */
}

.accordion li {
  list-style: none;
  margin: 3px 0px;
  padding: 10px;
  border-radius: 8px;
  background-color: pink;
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 255, .2);
}

.accordion-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  flex-grow: 1;
}

.accordion-separator {
  padding: 0;
  margin: 0 0;
  margin-bottom: 10px;
}

.accordion-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.25s;
}


input[type="checkbox"]{
  display: none;
}

.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px; 
  max-height: 0;
  overflow: hidden;
  transition: 0.25s;
}

.accordion input[type="checkbox"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + label > .accordion-arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@media(max-width: 768px) {
  .accordion {
    width: 90%;
  }
  
}
