.landing {
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/img/background.jpg);
    background-position: center;
    background-size: 100vw;
}

.landing-img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.landing-icons-container {
    display: inline-grid;
    justify-items: center;
    align-items: cente;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border: 2px solid red;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s;
}

.social-icon {
    color: white;
    transition: 0.25s;
}

.icon-container:hover {
    background-color: pink;
}

.social-icon:hover {
    color:red;
}

.join-us-btn {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}