@keyframes show-dialog{
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes hide-dialog{
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
}

@keyframes fade-out-backdrop{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-backdrop{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

dialog[open] {
  animation: show-dialog 0.2s;
}

dialog[open]::backdrop {
  animation: fade-in-backdrop 0.2s;
}

dialog[closing] {
  pointer-events: none;
  animation: hide-dialog 0.2s;
}

dialog[closing]::backdrop {
  animation: fade-out-backdrop 0.2s;
}

dialog::backdrop {
  background-color: rgba(0,0,0, 0.5);
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  padding: 20px;
}

.inside-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: center;
}