.subclub-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.item-image {
    aspect-ratio: 1 / 1;
    width: 200px;
}
